{% extends 'layout.html.twig' %}

{% block content %}
<h1>Youppii ça marche</h1>
{{ message }}

{% endblock %}

{% block style %}
<style>
h1 {
      color:white;
      background:#000;
     }
<style>
{% endblock %}