/*  catalog page CSS file for The Agent */
.brandDetailsBlock {
	border-bottom:4px solid #2B2A2A;
	padding-bottom:10px;
	font-size:0.8em;
	line-height:1.1em;
}
.brandDetailsBlock .brandInfos {
	width:34%;
	vertical-align:top;
	padding-right:20px;
}
.brandDetailsBlock .brandImage {
	width:66%;
	vertical-align:bottom;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

.brandDetailsBlock .brandLogo {
}
	.brandDetailsBlock .brandLogo img {
		max-height:70px;
		width:auto;
	}
.brandDetailsBlock .brandAbout {
	padding-bottom:10px;
}
.brandDetailsBlock .brandLogistics {
	padding-bottom:10px;
}
.brandDetailsBlock .brandContact {
	vertical-align:bottom;
}
	.brandDetailsBlock .brandContact .dTable .dTableCell {
		vertical-align:bottom;
	}
	.brandDetailsBlock .brandContact p img {
		margin-right:20px;
		max-height:100%;
		width:auto;
	}

.brandImage .buttonHolder {
	clear:both;
	padding:20px 0 0 0;
	background:#FFF;
}
	.brandImage .btn {
		width:200px;
		font-size:1em;
	}

.filterBlock {
	padding:10px 0;
}
.rowFilter {
	border-left:1px solid #000;
	padding:5px 0;
	margin:5px 0 0 10px
}
.showLess, .showMore {
	display:block;
	float:right;
	height:12px;
	cursor: pointer;
	margin-left:10px;
}
.showLess {
	width:19px;
	background:url('../img/filter-display-less.png') top left no-repeat;
}
.showMore {
	width:40px;
	background:url('../img/filter-display-more.png') top left no-repeat;
}
.showMore.active, .showMore:hover,
.showLess.active, .showLess:hover {
	background-position:bottom;
}


.productColumn {
	position:relative;
	font-size:0.8em;
	cursor:pointer;
	transition: all 0.2s ease;
}
.productColumn:hover {
	box-shadow:0 0 8px #EEE;
}
.productColumn p {
	margin-bottom:3px;
}
.productColumn .productInfo {
	position:absolute;
	width:100%;
	padding:10px;
	bottom:0;
	background:rgba(209, 208, 208, 0.7);
}

@media (max-width: 991px) {
}

@media (max-width: 499px) {
}

@media (min-width: 768px) {
}

@media (min-width: 499px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}