/*  catalog page CSS file for The Agent */

.brandDetailsBlock .brandInfos {
	width:34%;
	vertical-align:top;
}
.brandDetailsBlock .brandImage {
	width:66%;
	vertical-align:top;
}

.brandDetailsBlock .brandLogo {
	height:10%;
}
	.brandDetailsBlock .brandLogo img {
		height:100%;
		width:auto;
	}
.brandDetailsBlock .brandAbout {
	height:40%;
}
.brandDetailsBlock .brandLogistics {
	height:30%;
}
.brandDetailsBlock .brandContact {
	height:20%;
}


@media (max-width: 991px) {
}

@media (max-width: 499px) {
}

@media (min-width: 768px) {
}

@media (min-width: 499px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}