/*  main CSS file for The Agent */

/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

@font-face { 
	font-family: 'Century Gothic'; 
	src: url('../fonts/century_gothic.eot'); 
	src: url('../fonts/century_gothic.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/century_gothic.svg#Century Gothic') format('svg'),
		url('../fonts/century_gothic.woff') format('woff'), 
		url('../fonts/century_gothic.ttf') format('truetype'); 
		font-weight: normal; 
		font-style: normal;
}

.tac {text-align:center;}
.tal {text-align:left;}
.tar {text-align:right;}

.fl {float:left;}
.fr {float:right;}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.mainContainer {
	padding-bottom:60px; /* footer height */
}


/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 768px) {
}


/* Breadcrumb
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 767px) {
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
	background-color:#000;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
