/*  homepage CSS file for The Agent */
html,body{height:100%;}
#fullPageContainer {
	background: url('../img/bg-homepage.jpg') no-repeat center center scroll; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:0;
	width:100%;
	height:100%;
	position:relative;
}

.overText {
	display:table;
	text-align:center;
	position:absolute;
	width:100%;
	height:100%;
}
.overText .tr {
	display: table-cell;
	vertical-align:middle;
	text-align:center;
}
@media (max-width: 992px) {
	.overText img {
		width:70%;
		height:auto;
	}
}

#searchBlock {
	position:absolute;
	bottom:0;
	width:100%;
	height:70px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
}
#searchBlock form {
	display:inline-block;
	width:auto;
	margin:auto;
	height:40px;
	margin-top:15px;
	background:#FFF;
	border-radius:5px;
}
#searchBlock input,
#searchBlock select {
	display:block;
	width:auto;
	float:left;
	height:40px;
	border:none;
	margin:0;
	border-radius:0px;
	box-shadow:none;
	border-right:1px solid #EEE;
}
#searchBlock input:first-child {
	border-radius:5px 0 0 5px;
}
#searchBlock .bootstrap-select {
	float:left;
}
#searchBlock .selectpicker {
	height:40px;
	border:none;
	border-radius:0px;
}
#searchBlock .selectpicker:hover {
	background:none;
}
#searchBlock input.btn {
	border-radius:0 5px 5px 0;
	border:none;
	width:12%;
	float:right;
}

#searchBlock input.form-control,
#searchBlock .bootstrap-select {
	width:22%;
}

/* product columns */
.brandColumn {
	position:relative;
	margin-bottom:20px;
}
.brandColumn img.baseline {
	position:absolute;
	left:0;
	top:0;
}
.brandColumn .addToFavorites {
	position:absolute;
	display:block;
	top:15px;
	right:15px;
	cursor:pointer;
	width:60px;
	height:60px;
	opacity:0.5;
	background: url('../img/heart-grey.png') no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: all 0.2s ease;
}
.brandColumn .addToFavorites:hover {
	opacity:1;
}
.brandColumn .addToFavorites.active,
.brandColumn .addToFavorites.active:hover {
	opacity:1;
	cursor:default;
	background: url('../img/heart-red.png') no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#loveBrandList .brandColumn .addToFavorites.active,
#loveBrandList .brandColumn .addToFavorites.active:hover {
	cursor:pointer;
}

.brandColumn .brandInfo {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:15px 15px 0 15px;
	background-color: rgba(255, 255, 255, 0.8);
}
.brandColumn .brandInfo div {
	margin-bottom:10px;
	color:#000;
	font-size:0.8em;
}
.brandColumn .brandInfo div span {
	color:#FF2D57;
	font-weight:bold;
}

@media (max-width: 599px) {
	#searchBlock {
		height:140px;
	}
	#searchBlock input.form-control,
	#searchBlock .bootstrap-select {
		width:25%;
		margin-bottom:10px;
	}
	#searchBlock .bootstrap-select .dropdown-toggle {
		border-radius:0 5px 5px 0;
	}
	#searchBlock input.btn {
		float:none;
		margin:auto;
		width:120px !important;
		border-radius:5px !important;
	}
}
@media (max-width: 767px) {
	.brandColumn .brandInfo {
		padding:10px 10px 0 10px;
	}
	.brandColumn .brandInfo div {
		font-size:0.9em;
	}
}
@media (min-width: 992px) {
	#searchBlock form {
		width:80%;
	}
}
@media (min-width: 1400px) {
	.brandColumnBlock {
		width:25% !important;
	}
}
@media (min-width: 768px) and (max-width: 1399px) {
}