/*  homepage CSS file for The Agent */

body.full {
	background: url('../img/bg-homepage.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:0;
}
.footer .navbar {
	margin-bottom:0;
}

.loginContainer {
	padding-top:60px;
	margin-bottom:90px;
}
.loginContainer h1 {
	margin:0;
}
.loginContainer p {
	font-size:16px;
	margin-top:10px;
	margin-bottom:0;
	font-weight:bold;
}
.loginContainer .form-group {
	margin-bottom:0;
}
.loginContainer p a.forgotPass {
	color:#000;
	text-decoration:none;
}
.loginContainer p a.forgotPass:hover {
	color:#ff2d58;
}

.forceStatic {
	max-width:250px !important;
	clear:both;
}

form.homeLogin {
	margin:50px 0;
}
form.homeLogin input {
	margin-top:10px;
	font-style:italic;
	border:none;
}
form.homeLogin .btn {
	float:right;
	margin-top:10px;
}
.form-control {
	border:1px solid #FFF;
}

.homeMainBlock {
	padding:15px;
	background-color: rgba(255, 255, 255, 0.7);
}
.userTypeRegisterBlock {
	margin:20px 0;
}

.footer {
	height:80px;
	line-height:80px;
	background-color:#000;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .navbar,
.footer .navbar .nav > li,
.footer .navbar .nav > li a {
	height:78px;
	line-height:78px;
}
.footer .navbar .nav > li a {
	padding:0 15px;
	font-size:25px;
	font-weight:bold;
}
.footer .navbar-brand {
	height:78px;
	line-height:78px;
	margin-left:15px !important;
	font-weight:bold;
	color:#C1C1C1 !important;
}
.footer .navbar-toggle {
	margin-top:20px;
}

@media (max-width: 991px) {
	.btn-primary {
		padding:6px 6px;
		font-size:12px;
		white-space:normal;
		max-width:120px;
	}
	.loginContainer {
		margin-bottom:50px;
	}
}
@media (max-width: 767px) {
	body {
		margin-bottom:90px;
	}
	.loginContainer {
		padding-top:20px;
	}
	form.homeLogin {
		margin:20px 0;
	}
	.userTypeRegisterBlock {
		margin-bottom:0;
	}
	.footer .navbar-collapse.in,
	.footer .navbar-collapse.collapsing {
		position:absolute;
		bottom:77px;
		width:100%;
		background-color: rgba(0, 0, 0, 0.8);
	}
}
@media (min-width: 768px) {
	.footer .navbar-inverse .navbar-brand {
		display:none;
	}
}
@media (max-width: 991px) and (orientation:landscape) {
    .forceTablet {
		width:50% !important;
	}
	.footer {
		height:50px;
		line-height:50px;
	}
	.footer .navbar,
	.footer .navbar .nav > li,
	.footer .navbar .nav > li a {
		height:48px;
		line-height:48px;
	}
	.footer .navbar .nav > li a {
		font-size:15px;
	}
}