/* 
   bootstrap resets for The Agent
*/

html {
    min-height: 100%;
    position: relative;
}
body {
	font-family:'Century gothic';
	color:#000;
	padding-top:70px;
}

a {
	color:#FF2D58;
}

.img-responsive {
	width:100%;
}

@media (min-width: 1400px) {
	.container {
		width: 98%;
	}
}

/* Modals / Popins */
.modal-content {
	box-shadow:none;
	border-radius:0;
	border:1px solid #000;
}
.modal-dialog {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}
.modal-body {
    overflow-y: auto;
}
.modal-footer {
    margin-top: 0;
}
.modal-content .btn-default {
	position:absolute;
	top:10px;
	right:20px;
	z-index:1;
	color:#000;
	font-weight:bold;
}

@media (max-width: 767px) {
  .modal-dialog {
    width: 100%;
  }
}

/* form elements */
.form-control {
	border-radius:0;
	border:1px solid #848383;
}
.form-control:focus {
	border:1px solid #848383;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(132, 131, 131, .4);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(132, 131, 131, .4);
}
.form-control-xs {
	height:24px;
	padding:1px 6px;
}
.navbar-form .control-label {
	font-weight:bold;
	font-size:14px;
}

/* buttons */
.btn {
	transition: all 0.2s ease;
	border-radius:5px;
}
.btn-xs, .btn-group-xs > .btn {
	padding:2px 5px;
}

.btn-primary {
  color: #fff;
  background-color: #FF2D58;
  border-color: #FF2D58;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #FF2D58;
  background-color: #ffdae0;
  border-color: #ffdae0;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

/* navbar */
.navbar {
	min-height:inherit;
}
.navbar-default {
	background-color: transparent;
	border:0px;
	border-radius:0;
	border-top:1px solid #000;
	border-bottom:4px solid #000;
}
.navbar-inverse {
	background-color:#000;
}
.navbar-brand {
	padding:0;
	height:58px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left:0;
}
.navbar-inverse .navbar-nav > li > a {
	color:#FFF;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #FF2D58;
	background-color: transparent;
}
.navbar-nav > li > a {
	padding-bottom:10px;
	padding-top:10px;
	font-size:16px;
	transition: all 0.2s ease;
}
.navbar-default .navbar-nav > li > a {
	color:#000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FF2D58;
  background-color: #ffdae0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #FF2D58;
	color:#FFF;
	font-weight:bold;
}
.fullwidth-bar .container > .navbar-header, .fullwidth-bar .container-fluid > .navbar-header, .fullwidth-bar .container > .navbar-collapse, .fullwidth-bar .container-fluid > .navbar-collapse {
	margin-left:0;
	margin-right:0;
}
.fullwidth-bar .navbar-header {
	background:#000;
}
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}
.navbar-fixed-top {
	border:0;
}
.navbar-default .navbar-brand.menuText {
	height:50px;
	padding:15px;
	line-height:20px;
	font-weight:bold;
}
@media (min-width: 768px) {
	.navbar-collapse {
		padding-left:0;
		padding-right:0;
	}
	.navbar-default {
		border-top:0px;
	}
	.navbar-form {
		margin:0;
		margin-right:-15px;
	}
	.navbar-default .navbar-brand,
	.navbar-inverse .navbar-brand  {
		display:none;
	}
}

/* Breadcrumb */
.breadcrumb {
	background:none;
	padding:0;
	font-size:14px;
}
.breadcrumb a {
	color:#000;
	font-weight:bold;
}

/* Progress bar */
.progress-bar {
	background-color:#333;
}

/*----------------------------------------------------------
-------------- BOOTSTRAP SELECTS RESETS --------------------
----------------------------------------------------------*/
.bootstrap-select.btn-group .btn .caret {
	right:9px;
}
.bootstrap-select.btn-group .btn .filter-option {
	border-right:1px solid #848383;
}